@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header ul,
.footer ul {
  display: flex;
  gap: 20px;
}

.footer {
  background-color: #eee;
}

ul > li {
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: #7a82ab;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons > button {
  padding: 10px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
